repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.5.7
  hooks:
    # Run the linter.
    - id: ruff
      types_or: [ python, pyi, jupyter ]
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi, jupyter ]
- repo: local
  hooks:
    - id: run-coverage
      name: Run Coverage
      entry: uv run coverage run
      language: system
      pass_filenames: false  # Prevent passing filenames as arguments
      stages: [pre-commit]
- repo: local
  hooks:
    - id: report-coverage
      name: Report Coverage
      entry: uv run coverage report
      language: system
      pass_filenames: false  # Prevent passing filenames as arguments
      stages: [pre-commit]

